doctype html
html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1')
    title Путешествие рубля
    style
        include index.css
body
    #ymaps
    #about
        h1 Путешествие Рубля
        p Если представить, что курс доллара — это широта, а курс евро — долгота, то вот как будет выглядеть это удивительное путешествие рубля в свободном плавании.
        p Данные о текущем положении рубля соответствуют ежедневному обновлению курсов <a href="http://www.cbr.ru/">Центральным банком</a>.
        #tweet
            include ./includes/tweet.js

    script(type='application/json', id='usd')
        include ../data/usd-rates.json
    script(type='application/json', id='eur')
        include ../data/eur-rates.json

    script(type='application/javascript' src='http://api-maps.yandex.ru/2.1/?lang=ru_RU')
    script(type='application/javascript' src='http://api-maps.yandex.ru/2.1/?lang=ru_RU')
    script(type='application/javascript')
        include ./index.js

    include ./includes/metrika.js
